@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

body {
    background-color: #4575b6;
}

h1 {
    font-size: 40px;
    margin: 0.7rem;
    color: azure;
    padding: 0.5rem;
    border-bottom: 3px solid crimson;
}

.container {
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 85vh;
    background-color: blueviolet;
    border-radius: 15px;
}

div {
    margin: 0.5rem;
}

label {
    margin-right: 1rem;
}

#sizepass, #password {
    border: none;
    outline: none;
    width: 2.5rem;
    text-align: center;
    font-weight: 800;
    background-color: rgb(212, 190, 233);
}

#password {
    width: 30vw;
}

#sizepass:focus ,#password:focus {
    border-bottom: 2.5px solid crimson;
    transition: all 0.2s ease-in-out;
}

button {
    border: none;
    padding: 0.4rem;
    background-color: crimson;
    color: azure;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(197, 24, 59);
    transition: all 0.3s ease-in-out;
}

#copiar {
    padding: 0.2rem 1rem;
    font-size: 20px;
}

#generar {
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#confirmCopy {
    color: azure;
    font-size: 20px;
}